## Objectives


- Gain familiarity with Jupyter notebooks
- Use and manipulate various data types
- Create, assign, and update variables
- Represent information with data types
- Use Boolean operators 
- Create and modify strings with string methods
- Create tuples
- Create dictionaries

[Reference](https://ds.codeup.com/python/data-types-and-variables/)

In [6]:
pip install pydataset

Requirement already satisfied: pydataset in /opt/homebrew/anaconda3/lib/python3.9/site-packages (0.2.0)
Requirement already satisfied: pandas in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pydataset) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pandas->pydataset) (2022.1)
Requirement already satisfied: numpy>=1.20.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pandas->pydataset) (1.21.5)
Requirement already satisfied: six>=1.5 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->pydataset) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

---
## Data Types


| Data type | Description |
|:-: |----------|
| `bool`|   Boolean values (True or False) |
| `str`  |  whole, or counting numbers |
| `float`|  decimal numbers |
| `list`| an ordered sequence of objects |
| `dict`| a collection of named values
| `NoneType` |  indicates absence of a value


###  `type` function

Returns the data type of an object. 

```python
type(object)
```

### Examples

In [7]:
type(object)

type

---

## Variables

### Assigning a variable

In [8]:
fav = 21

In [9]:
print (fav)

21

#### Troubleshooting

What is the result of the following code?

```python
a = 6
print(a + b)
b = 4
```

### Updating a variable

In [11]:
x =1
print (x)
x = x+1
print (x)

1
2

#### Example: Running a cell multiple times

## Boolean values


There are two Boolean values: `True` and `False`

**Note:** A Boolean value is not a string

```python
type(True)
```
```
bool
```

```python
type('True')
```
```
str
```

## Comparison operators 



#### Checks for equality
```python
==
```



#### Checks for inequality
```python
!=
```

### Examples

## Boolean Operators


Boolean operators evaluate statements and return a Boolean value.


#### `not` statements - also known as a negation


Returns the opposite Boolean value

| A | not A 
|:-: | :-:| 
| T | F |
| F | T |



For two statements **A** and **B**

#### `and` statement - also known as a *conjunction*


    
    

| A | B | A and B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | F | 
| F | T | F | 
| F | F | F | 



#### `or` statement - also known as a *disjunction*

    

| A | B | A or B
|:-: | :-:| :-: | 
| T | T | T | 
| T | F | T | 
| F | T | T | 
| F | F | F |



## Numbers

Two commonly used number types:


`int` - Whole numbers (both positive and negative) and 0

`float` - Numbers with decimals

####  Arithmetic Operations

| Operation      | Operator | Example  |
| ---------      | -------- | -------  |
| Addition       | `+`      | `4 + 4`  |
| Subtraction    | `-`      | `9 - 1`  |
| Multiplication | `*`      | `4 * 2`  |
| Division       | `/`      | `16 / 2` |
| Exponentiation | `**`     | `2 ** 3` |



####  Comparison Operations

| Operator | Description              | Example  |
| -------- | -----------              | -------  |
| `==`     | Equal to                 | `1 == 1` |
| `!=`     | Not equal to             | `1 != 0` |
| `>`      | Greater than             | `1 > 0`  |
| `<`      | Less than                | `0 < 1`  |
| `>=`     | Greater than or equal to | `1 >= 1` |
| `<=`     | Less than or equal to    | `1 <= 1` |

### Examples

---
## Strings

Strings represent text and are enclosed by quotes.



```python
'A string in single quotes'
```



```python
"A string in double quotes"
```



```python
'''A multi-line
string in
triple quotes'''
```

### Examples

In [22]:

"a \n b"

'a \n b'

### Operations with strings

In [23]:
'abc'+'123'

'abc123'

### Examples

### Formatting strings

In [25]:
name = 'bob'

In [29]:
'hello, %s!' % name

'hello, bob!'

### Examples

### String methods

A string method does not modify the original string. 

Assign the result to a new variable or update the string to use the modified string. 



| Data type | Description |
|:-: |----------|
| `.lower`|  convert to lower case
| `.upper`|  convert to upper case
| `.strip`  |  remove leading or trailing whitespace
| `.isdigit`|  tests whether a string is a number |
| `.split`| converts a string to a list |
| `.join`| converts a list to a string

### Examples

In [30]:
name.upper()

'BOB'

---

## Lists

### Creating a list

In [31]:
listing = [1,2,3]

In [ ]:
listlist =[[1,2,3],[a,b,c]]

### List comprehensions

In [32]:
[n for n in range(11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
[n *2 for n in range(11)if n % 2 == 0]

[0, 4, 8, 12, 16, 20]

### List Operations

In [38]:
thing = [1,2,3]

In [41]:
thing.append(4)
print (thing)

[1, 2, 3, 4, 4, 4]

In [43]:
thing.pop()
thing

[1, 2, 3, 4, 4]

In [44]:
len(thing)

5

In [49]:
thing[0]
thing[1:3]

[2, 3]

In [50]:
list(map(str,thing))

['1', '2', '3', '4', '4']

---

## Tuples

In [51]:
my_tuple = (1,2,3)

In [52]:
type(my_tuple)

tuple

In [53]:
my_tuple[1]

2


---

## Dictionaries

In [54]:
my_dictionary = {
 'name'   : 'Codeup',
    'age' : 9
    
}

### Creating a dictionary

In [55]:
my_dictionary

{'name': 'Codeup', 'age': 9}

In [56]:
dict(name = 'codeup',age = 9)

{'name': 'codeup', 'age': 9}

### Accessing dictionary values

In [58]:
school = dict(name = 'codeup', age = 9)
school['name']

'codeup'

In [59]:
school['age'] +=1

In [60]:
school

{'name': 'codeup', 'age': 10}

## Changing data types

```python
int()
```

```python
str()
```

In [62]:
str(1)

'1'

### Examples

### Getting user input with `input`

```python
name = input('What is your name?')
print(name)
```